version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: flytaxi-db
    environment:
      POSTGRES_DB: flytaxi
      POSTGRES_USER: flytaxi
      POSTGRES_PASSWORD: flytaxi
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: flytaxi-api
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_URL: postgres://flytaxi:flytaxi@db:5432/flytaxi?sslmode=disable
      HTTP_PORT: "8080"
    networks:
      - backend

  frontend:
    build:
      context: ./frontend
    container_name: flytaxi-frontend
    depends_on:
      - api
    ports:
      - "8080:80"
    networks:
      - backend

  adminer:
    image: adminer:4
    container_name: flytaxi-adminer
    depends_on:
      - db
    ports:
      - "8081:8080"    # http://localhost:8081 - веб-админка БД
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: flytaxi-redis
    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
    driver: bridge
